@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Permanent+Marker&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: #f97316;
  color: white;
  transition: all 0.5s ease;
}
.active:hover {
  background-color: #ea580c;
}

::-webkit-scrollbar {
  width: 0.1vw;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5b21b6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6d28d9;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
